{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div class="container mb-5 ">
		<div class="row contact">
			<div class="col-lg-6 col-sm-12 formulaire-contact">
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				<h1>Contactez-Nous</h1>
				{{ form(form)}}
					{{ form_end(form) }}
				</div>
				<div class="col-lg-6 col-sm-12 img-contact"></div>
			</div>
		</div>
	</div>
{% endblock %}
