<h3>Bienvenue sur DIY!</h3>

<p>
	Pour activer votre compte, veuillez confirmer votre adresse email en cliquant sur le lien suivant :
	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon email</a>.
										    Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	<em>
		<b>
			Partagez votre passion et votre savoir faire avec la communauté DIY!</b>
	</em>
</p>
<p>
	<b>L'équipe DIY!</b>
</p>
