{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column align-items-center mb-5">
		<h1 class="text-center mb-3">Inscription</h1>
		<h3 class="categorie_title text-center">Exprimez votre créativité, rejoignez la communauté DIY!
		</h3>
		<div class="register_form col-lg-6 col-sm-10 mt-3">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">
					{{ flashError }}
				</div>
			{% endfor %}
			{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
			{{ form(registrationForm)}}
				{{ form_end(registrationForm) }}
			</div>
		</div>
	{% endblock %}
