{% extends 'base.html.twig' %}

{% block title %}Réinitialisation
{% endblock %}

{% block body %}
	<div class="container">
		<h3 class="categorie_title text-center">Email de réinitialisation envoyé
		</h3>
		<p>
			S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			<b>Ce lien exprire dans 1 heure</b>.
		</p>
		<p>Si vous n'avez pas reçu d'email, veuillez vérifier dans vos spams. Sinon
			<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
	</div>
{% endblock %}
