{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column align-items-center mb-5">
		<h1 class="text-center mb-3">Modifier mot de passe</h1>
		<h3 class="categorie_title text-center">Partagez votre passion et votre savoir faire avec la communauté DIY!
		</h3>
		<div class="register_form col-lg-6 col-sm-10 mt-3">
			{% for flashError in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">
					{{ flashError }}
				</div>
			{% endfor %}
			{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}
			<small>
				Entrez votre adresse email afin de recevoir un lien pour réinitialiser votre mot de passe.
			</small>
			{{ form(requestForm)}}
				{{ form_end(requestForm) }}
			</div>
		</div>
	{% endblock %}
