/******** VARIABLES *****/
:root{
       --turquoise: rgb(134, 175, 172);
       --lightbeige: #FAF6F0;
}
 

/******** COMMUN ********/
header{
    margin-bottom: 73px;
}
h1{
    font-family: 'Lily Script One', cursive;
    font-size: 60px;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}

/* Tous les boutons du site hors boutons d'envoi de formulaire */
.btn-front{
    border: solid black 1px;
    border-radius: 0;
    transition: all 0.3s;
}
.btn-front:hover{
    transform: scale(1.1,1.1);
    background-color: var(--turquoise);
}

/* Boutons d'envoi de fomulaire */
.btn-envoyer{
    border: solid black 1px;
    border-radius: 0;
    transition: all 0.3s;
}
.btn-envoyer:hover{
    transform: scale(1.1,1.1);
    background-color: var(--turquoise);
}

/* Tous les formulaires */
.form-control{
    border-radius: 0px;
    margin-bottom: 5px;
}
/******** NAVBAR *********/
.navbar{
    background-color: var(--lightbeige);
}
.navbar-brand img{
    width: 75px;
}
.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
/******** /ANNONCES ******/

/* Page de Vue détaillée des annonces */
.categorie_title{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    font-weight: 900;
}

/* Icone ajout au favoris sur tout le site */
.fa-heart{
    font-size: 30px;
    transition: all 0.3s;
    color: black;
    margin: 0px 15px 0px 15px;
}
.fa-heart:hover{
    transform: scale(1.2,1.2);
}
.fas{
color: var(--turquoise);
}

/* Aperçu annonce (card) */
.card-text-categorie{
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    font-weight: 900;
}
.card-title{
    font-family: 'Lily Script One', cursive;
    font-size: 30px;
}
.card-text{
    font-size: 15px;
}

/******** /DIY ******/

/* Page contact */
.contact{
    margin-top:100px;
}
.formulaire-contact{
    padding: 75px;
    background-color: var(--lightbeige);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.img-contact{
    background-image: url('../images-diy/peinture.png');
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Page /index */

/* Formulaire de recherche*/
.accueil-recherche{
    background-color: var(--turquoise);
    padding: 36px;
}
.test .form-group:nth-child(1){
  width: 45%;
}
.test .form-group:nth-child(2){
    width: 45%;  
}
.test .form-group:nth-child(3){
    width: 10%;  
}

/* Section bienvenue */
.section_bienvenue{
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url("../images-diy/bg-section-bienvenue-diy.png");
    background-position: right;
}

/* Dernières annonces "Nouveautés" */
.apercu_annonce{
    background-image: url("../images-diy/bg-apercu-annonce-diy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/********** /REGISTRATION ********/
.register_form{
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}
.register_form .btn-envoyer {
    margin-top: 25px;
}