{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}
{% block body %}
	<!-- ///////////////// ADMIN AFFICHAGE ////////////////-->
	<div class="container">
		<div class="border border-secondary p-5 mb-5 text-center">
			<p class="text-xl-center">
				Bonjour, accédez à vos éspaces de gestion directement depuis le liens ci-dessous !
			</p>
			<a href="{{path("admin_annonces_home")}}" class="btn btn-secondary">Afficher la liste des annonces</a>

			<a href="{{path("admin_categories_home")}}" class="btn btn-secondary">Afficher la liste des catégories</a>

			<a href="{{path("admin_categories_ajout")}}" class="btn btn-secondary">Ajouter une catégorie</a>
		</div>
	</div>

{% endblock %}
