{% extends 'base.html.twig' %}

{% block title %}Ajout catégorie
{% endblock %}
{% block body %}
	<div class="container">

		{% form_theme form 'bootstrap_4_layout.html.twig' %}

		<h1>Ajouter une catégorie</h1>
		{{ form(form) }}
			<a href="{{path("admin_categories_home")}}" class="btn btn-secondary mt-3">Retour à la liste des catégories</a>
		</div>
	{% endblock %}
