{% extends 'base.html.twig' %}

{% block title %}Ajout Annonce
{% endblock %}


{% block body %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div class="ad_add_form container ">
		<h1 class="text-center mb-3">Ajouter une annonce</h1>
		<h3 class="categorie_title text-center">Partagez votre passion et votre savoir faire avec la communauté DIY!
		</h3>
		<div class="d-flex justify-content-center">
			<img src="{{ asset('images-diy/etapes-add-ad.png') }}" alt="illustration étape mise en ligne atelier créative" class="img-fluid col-6">
		</div>
		{{ form(form) }}
		</div>
	{% endblock %}
