{% extends 'base.html.twig' %}

{% block title %}Modification Profil
{% endblock %}

{% block body %}
	<div class="mt-5">
		<form action="" method="post">
			<div class="container d-flex flex-column align-items-center mb-5">
				<h1 class="text-center mb-3">Modifier mot de passe</h1>
				<h3 class="categorie_title text-center">Partagez votre passion et votre savoir faire avec la communauté DIY!
				</h3>
				<div class="register_form col-lg-6 col-sm-10 mt-3">
					{% for message in app.flashes('error') %}
						<div class="alert alert-danger" role="alert">{{ message }}</div>
					{% endfor %}
					<div class="form-group">
						<input type="password" class="form-control" name="password" id="password" placeholder="Nouveau mot de passe"></div>
					<div class="form-group">
						<input type="password" class="form-control" name="password2" id="password2" placeholder="Resaisir le mot de passe"></div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</form>
		</div>
	{% endblock %}
