<p>
	Bonjour
	{{ nom }},</p>

<p>Vous avez reçu un nouveau message au sujet de votre annonce
	{{ annonce.title }}</p>
<p>De :
	{{ mail }}</p>
<p>Message ;
	{{ message }}</p>
<p>
	<b>L'équipe DIY!</b>
</p>
