{% extends 'base.html.twig' %}

{% block title %}Ajout Annonce
{% endblock %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<h1>Ajouter une annonce</h1>
	{{ form(form) }}{% endblock %}
